@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.assign-modal-header {
  @include flex-center;

  .question-sign {
    margin-left: 0.5rem;
    @include base-round-btn(1rem, 1rem, $DARK_BLUE);
    font-size: 0.75rem;
    color: $BASE_WHITE-COLOR;
    font-weight: 500;
  }
}

.pin-persona-modal-container {
  padding: 0 1rem;

  .pin-persona-error {
    &--text {
      padding: 1.25rem 1.25rem 3.75rem;
      color: $BASE-ERROR-COLOR;
    }
  }

  .info-text {
    color: $BASE_GRAY_COLOR;
    margin: 1.375rem 0 0 1.375rem;
  }

  .pinned-boards {
    color: $BASE_GRAY_COLOR;
    margin: 1rem 0 0 1.375rem;
    &-count {
      font-weight: 500;
      margin: 0 0.25rem;
      color: $BASE_BLUE_COLOR;
    }
  }

  @include workspaces-list();
  .workspaces-list {
    &--content {
      height: 100%;
      ul {
        height: 100%;
      }
    }
    &-loading-section {
      height: 100%;
    }
  }
  @include base-modal-footer;
}
