@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.template-cards-container--card {
  background-color: $BASE-LIGHT-GRAY-COLOR;
  color: $BASE_GRAY_COLOR;
  padding: 0.6rem;
  display: flex;
  align-items: start;
  gap: 0.4rem;

  h5 {
    font-size: $MEDIUM-FONT-SIZE;
    line-height: $MEDIUM-FONT-SIZE;
    margin-bottom: 0.4rem;
  }

  p {
    font-size: 0.65rem;
    line-height: 0.7rem;
  }
}
