@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.image-sections {
  width: 100%;

  .avatar {
    width: 100%;
    border-radius: 0.25rem;

    &-border {
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: $BASE-WHITE-COLOR;

      &-content {
        @include flex-center-center;
        background: $BASE_WHITE-COLOR;
      }
    }
  }
}

.upload-frame {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: transparent;

  .custom-file-uploader {
    border-radius: 0.125rem;
    border: none;
    background-color: $BASE-LIGHT-GRAY-COLOR;
    outline: 0.125rem solid transparent;

    &:hover {
      @include svg-fill($BASE-WHITE-COLOR);
      background-color: #545e6b;

      .upload-text {
        color: $BASE-WHITE-COLOR;
      }
    }
  }
}
