@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.divider {
  display: flex;
  align-items: center;
  max-height: 2.625rem;
  background-color: $BASE-LIGHT-GRAY-COLOR;
  border-bottom: 0.0625rem solid $BASE-EXTRA-LIGHT-GRAY-2;

  &--item {
    width: 100%;
    height: 0.25rem;
    background-color: $BASE-LIGHT-GRAY-COLOR-2;
  }
}
