@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.copy-map-modal {
  &--info {
    color: $BASE_GRAY_COLOR;
    margin: 1rem 0 0 1.375rem;
    font-weight: 600;
  }
  &--footer {
    padding: 1.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
