@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.row-images {
  @include map-row();

  &-item {
    min-width: 17.4375rem;
    min-height: 17.4375rem;
    max-height: 17.4375rem;
    border-radius: 0.125rem;
    border-bottom: 0.0625rem solid #e8e8e8;
    background-color: $BASE-WHITE-COLOR;

    &--card-block {
      height: 100%;
      padding: 0.5rem;
    }
  }
}
