@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.row-images-item--card-block {
  height: 100%;
  padding: 0.5rem;

  &--loading {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid $BASE-LIGHT-GRAY-COLOR-2;
  }
}

.active-image-card {
  .image-card--header {
    visibility: visible;
  }
}
