@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.journeys-filter {
  &--button {
    min-width: 2rem;
    height: 2rem;
    border-radius: 0.125rem;
    @include flex-center-center;

    &:hover {
      background-color: #eeeeee;
    }
  }

  &--container {
    position: relative;
    padding: 1rem;
    width: 28.25rem;
    height: 16rem;
    font-size: 0.75rem;

    &--go-back-btn-block {
      width: 90%;
      background-color: #ffffff;
    }

    &--go-back-btn {
      @include flex-center;
      color: $BASE_BLUE_COLOR;
    }

    &--persona-group {
      height: 9.4rem;
      padding: 1rem;
      margin-bottom: 1rem;
      overflow: auto;
    }

    &--persona-group-title,
    &--persona-title {
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
      color: $BASE_GRAY_COLOR;
    }

    &--personas-item {
      @include org-or-board-item();
    }

    &--personas-block {
      height: 8rem;
      overflow-y: auto;
      display: flex;
      gap: 0.375rem;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      label {
        @include reduce-text(100%);
        max-width: 8.75rem;
      }

      .empty-data-info {
        margin-top: 0 !important;
        min-height: fit-content !important;
      }
    }
  }
}

.sb-show-main {
  z-index: 1300 !important;
}
