@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.ai-model {
  margin-top: 1.25rem;

  &--create-section {
    @include flex-center-between;
    width: 100%;
  }

  &--list {
    height: calc(100dvh - 20.625rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.25rem;
    overflow: auto;
  }
}
