@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.workspaces-error {
  &--text {
    padding: 1.25rem 1.25rem 3.75rem;
    color: $BASE-ERROR-COLOR;
  }
}

.info-text {
  color: $BASE_GRAY_COLOR;
  margin: 1.375rem 0 0 1.375rem;
}

@include workspaces-list();
