@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.persona-card {
  position: relative;
  width: 17.75rem;
  height: 17rem;
  padding: 0 1rem;
  @include card-borders;

  &--menu {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  &--frame-block {
    @include flex-center-center;
    height: 10rem;

    .persona-cropped-image {
      width: 7rem;
      height: 7rem;
      padding: 0.25rem;
      border: 0.25rem solid transparent;
      border-radius: 0.25rem;
    }
  }

  &--info {
    display: flex;
    flex-direction: column;

    &--name {
      @include reduce-text('100%');
      line-height: 2rem;
      font-weight: 500;
      color: $BASE_BLUE_COLOR;
    }

    &--type {
      line-height: 1rem;
      font-size: 0.75rem;
    }
  }

  &--footer {
    @include flex-center-between;
    margin-top: 2rem;
    font-size: 0.75rem;

    &--journies {
      @include flex-center-center;
      gap: 0.5rem;
    }
  }
}
