@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.workspace--analytics {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  color: $BASE_GRAY_COLOR;
  font-size: $BASE_FONT-SIZE;

  &--item {
    @include flex-center-between;
    flex-direction: column;
    cursor: pointer;
    height: fit-content;
    gap: 0.875rem;

    &--count {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1;
    }

    &--icon {
      width: 0.75rem;
      height: 0.75rem;
      @include flex-center-center;
      gap: 0.25rem;
      font-size: 0.75rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &--name {
      margin: 0 0.25rem;
      @include reduce-text(8.75rem);
    }

    &-description-section {
      @include flex-center-center;
      gap: 0.25rem;
    }
  }

  .view-all {
    @include flex-center;
    gap: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      color: $BASE_BLUE_COLOR;
    }
  }

  .horizontal-type {
    min-width: 1.5rem;
    flex-direction: row-reverse;
    gap: 0.25rem;

    .workspace--analytics--item--count {
      margin-top: 0;
    }
  }

  .small-font-size {
    font-size: 1rem;
    font-weight: 500;
  }
}
