@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.board-card {
  position: relative;
  background-color: $BASE_WHITE-COLOR;
  width: calc(100% - 0.5rem);
  height: 10.625rem;
  padding: 1rem 2.5rem 1rem 1.5rem;
  @include card-borders;
  @include flex-center;
  gap: 1rem;
  border-left: 0.0625rem solid transparent;
  align-items: flex-start;
  overflow: hidden;

  &:hover {
    border-left: 0.0625rem solid $BASE_BLUE_COLOR;

    .drag-handle-area {
      display: block;
      background-color: $BASE_BLUE_COLOR;

      &--icon {
        display: block;
        background-color: $BASE_BLUE_COLOR;
      }
    }
  }

  &--analytics {
    margin-top: 1.375rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  &--left {
    width: 17.625rem;

    .workspace--analytics {
      align-items: center;
      gap: 1rem;
    }
  }

  &--right {
    width: calc(100% - 18.375rem);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    &-journies {
      @include flex-center;
      gap: 1rem;
    }

    &-more-block {
      min-width: 8.5rem;
      height: 8.5rem;
      border: 0.0625rem solid $BASE-LIGHT-GRAY-COLOR-2;
      border-radius: 0.25rem;
      font-weight: 500;
      color: $BASE_BLUE_COLOR;
      @include flex-center-center;

      &:hover {
        border-color: $BASE_BLUE_COLOR;
      }
    }

    .no-maps-info {
      @include flex-center;
      height: 100%;
      font-size: $BASE_FONT-SIZE;
      color: $BASE_GRAY_COLOR_2;
    }
  }
}
