@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.custom-dropdown {
  position: relative;

  .select-placeholder {
    color: $BASE_GRAY_COLOR_2;
    font-size: 0.75rem;
  }

  &--menu-item {
    @include reduce-text(100%);
  }
}
