@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.atlas-view--maps--item {
  position: relative;

  &-content {
    background: #eeeeee;
    color: $BASE_GRAY_COLOR;
    line-height: 1.07rem;
    position: relative;

    &--interactive-component {
      display: flex;

      &-content {
        @include flex-center-between;
        gap: 0.25rem;
        width: 100%;

        .left-section {
          width: calc(100% - 3rem);
          gap: 0.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .node-title {
            font-size: $BASE_FONT-SIZE;
            @include reduce-text(100%);
            &:hover {
              color: $BASE_BLUE_COLOR;
            }
          }

          .journeys-hover-wrapper {
            .journeys-count {
              display: block;
              font-size: 0.75rem;
            }
            .journeys-menu {
              display: none;
            }

            &:hover {
              .journeys-count {
                display: none;
              }
              .journeys-menu {
                display: block;
              }
            }
          }
        }
      }
    }
    &:hover {
      background: #e8e8e8;
    }

    .icon-button {
      font-size: 1.8rem;
      @include flex-center-center;
      min-width: 2rem;
      min-height: 2rem;
    }
    .add-child-map-btn {
      width: 100%;
    }
  }
  .node-title {
    line-height: 1.1;
    text-align: left;
  }

  .child-map {
    margin: 0.5rem 1.125rem 0 1.125rem;
    padding-left: 0.5rem;
    cursor: pointer;

    &:nth-of-type(1) {
      margin: 1rem 1.125rem 0 1.125rem;
    }

    .left-section {
      width: 100%;
    }

    .child-option {
      width: 1.5rem;
      height: 1.5rem;
      span {
        font-size: 0.6rem;
      }
    }

    &::before {
      content: '';
      width: 0.5rem;
      background: #d9d9d9;
      height: 0.125em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -0.5rem;
    }
  }
  .add-new-child-btn {
    @include flex-center-center;
    border-radius: 0.1rem;
    font-size: $MEDIUM-FONT-SIZE;
    width: 100%;
    border: 0.08rem solid $BASE_BLUE_COLOR;
    color: $BASE_BLUE_COLOR;
    box-sizing: content-box;
    padding: 0.403rem;
    gap: 0.4rem;
    opacity: 0;
    &:hover {
      background: $BASE_BLUE_COLOR;
      color: $BASE_WHITE-COLOR;
    }
  }
  .button-node {
    padding: 0;
    margin-bottom: 1rem !important;
    background: transparent;
    line-height: 1.1;

    &::before {
      width: 0;
    }
  }

  .rct-tree-root {
    padding: 0 !important;
  }
  .rct-tree-items-container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0.125em;
      height: calc(100% - 4.15rem);
      left: 0.6rem;
      background: #d9d9d9;
    }

    .rct-tree-item-li {
      background: #eeeeee !important;
    }
  }
}

.expanded-item {
  .rct-tree-items-container {
    .rct-tree-items-container {
      position: static;
      margin-top: -0.1rem;
      border: 1px solid $BASE-LIGHT-GRAY-COLOR-2;
      &::before {
        width: 0;
      }
      &:hover {
        .add-new-child-btn {
          opacity: 1;
        }
      }
    }
  }
}
