@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.row-media-item--card-block {
  height: 100%;
  padding: 0.5rem;

  &--loading {
    border: 0.0625rem solid $BASE-LIGHT-GRAY-COLOR-2;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.active-media-card {
  .media-card--header {
    visibility: visible;
    .card-header--tag {
      opacity: 1;
    }
  }
}
