@use "@assets/styles/variables" as *;
@use "@assets/styles/mixins" as *;

.empty-data-info {
  @include flex-center-center;
  flex-direction: column;
  width: 100%;
  margin-top: 1.25rem;
  min-height: 20.625rem;
  color: $BASE_GRAY_COLOR;

  &--icon {
    margin-top: 1.5rem;
  }

  &--message {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #8e9092;
  }
}
