.error-logs,
.performance-logs,
.copy-map{
  margin-top: 1.25rem;
  height: calc(100dvh - 14.9rem);
  &--search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;

    &--input {
      width: 16.25rem;
    }
  }
}

.logs-pagination {
  display: flex;
  justify-content: end;
}