@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;


.draggable-input {
  @include map-card-header-hover();
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  color: rgba(84, 94, 107, 1);

  .ql-toolbar {
    background-color: transparent !important;
    padding: 0 !important;
  }
  @include dark-mode-editor;
}
