@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.create-update-link-modal {
  padding: 1rem;
  color: $BASE_GRAY_COLOR;

  &--content {
    padding: 0 1rem;
  }

  &--form {
    padding: 0 1rem;
    min-height: 10.25rem;
  }

  &--row {
    display: flex;
    gap: 1.375rem;
    margin-bottom: 1.25rem;

    &--title {
      width: 3rem;
      padding-top: 0.625rem;
    }

    &--item {
      width: calc(100% - 4rem);
      flex: 1;
    }
  }
  @include base-modal-footer();
}
