@use "@assets/styles/variables" as *;
@use "@assets/styles/mixins" as *;

.ai-model-card {
  @include card-borders;
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  padding: 0.25rem;
  cursor: initial;

  &--name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $BASE_BLUE_COLOR;
    @include reduce-text(12.5rem);
  }

  &--prompt {
    line-height: 1.25rem;
    @include line-clamp(3);
  }

  &--logo-block {
    @include flex-center-center;
    width: 100%;
    height: 6.25rem;
  }

  &--menu {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
