@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.search-icon-section {
  .noun-project-icons-block {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.9375rem;
    position: absolute;
    width: 19.25rem;
    height: 7.5rem;
    border: 0.0625rem solid $BASE_BLUE_COLOR;
    overflow: auto;
    z-index: 1;
    background-color: $BASE-WHITE-COLOR;
  }

  .noun-project-icon {
    cursor: pointer;
  }

  .no-result {
    @include absolute-center;
  }
}
