@use "@assets/styles/variables" as *;
@use "@assets/styles/mixins" as *;

.org-users {
  padding: 2rem 4rem 0;
  height: 100%;

  &--main{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem;
    border-bottom: 0.0625rem solid $BASE-LIGHT-GRAY-COLOR-2;
  }

  &--search-block {
    @include flex-center();
    align-items: flex-start;
    overflow: hidden;

    .create-edit-form-block {
      width: 50rem;
      padding: 0;
      border-bottom: 0;

      &--content-input {
        width: 12.5rem;
      }

      &--open-content {
        width: 43.75rem;
      }
    }
  }

  &--search-block-input {
    margin-right: 1.25rem;
  }

  &--disable-search-block {
    width: 0;
    display: none;
  }

  &--create-block {
    @include flex-center;
    width: 0;
    overflow: hidden;
  }

  &--enable-create-block {
    @include flex-center;
    gap: 1rem;
    width: 37.5rem;
  }

  &--table-block {
    margin-top: 1.25rem;
    height: calc(100dvh - 17rem);

    .custom-table {
      &--description {
        @include line-clamp(2);
      }
    }
  }
}
