@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.slick-carousel {
  .slick-slider {
    @include flex-center-center;
    gap: 1.25rem;
  }

  &--slick-slide,
  .slick-slide {
    min-width: 180px;
  }

  &--slick-track,
  .slick-track {
    @include flex-center-center;
    gap: 1.25rem;
  }

  .slick-list{
    width: 90%;
  }

  .slick-prev,
  .slick-next {
    background-color: $BASE_GRAY_COLOR_2;
    line-height: 19px;
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
  }
}
