@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.performance-logs {
  &--empty-page {
    @include absolute-center;
  }

  .custom-table--payloadSize {
    padding: 0.125rem 0.25rem;
  }

  .green-size,
  .yellow-size,
  .red-size {
    display: inline-block;
    min-width: 3.75rem;
    width: auto;
    border-radius: 0.125rem;
    text-align: center;
    color: $BASE-WHITE-COLOR;
  }

  .green-size {
    background-color: $POSITIVE-COLOR;
  }

  .yellow-size {
    background-color: $NEUTRAL-COLOR;
  }

  .red-size {
    background-color: $BASE-ERROR-COLOR;
  }
}
