@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.persona-container {
  height: 100%;
  color: $BASE_GRAY_COLOR;

  .persona-header--download-section-btn,
  .persona-left-menu--add-demographic-info {
    @include flex-center-center;
    width: 2rem;
    height: 2rem;
    border: 0.0625rem solid $BASE_BLUE_COLOR;
    border-radius: 0.25rem;

    .wm-download {
      color: $BASE_GRAY_COLOR;
      font-size: 1.2rem;
    }

    &:hover {
      .wm-download {
        color: $BASE_BLUE_COLOR;
      }
    }
  }

  .persona-header--download-section-btn {
    border: none;
  }

  &--body {
    display: flex;
    height: calc(100dvh - 8.55rem);
    background-color: $BASE_BG_COLOR;
  }

  &--left-menu {
    position: relative;
    padding: 1rem;
    min-width: 21.375rem;
    width: 21.375rem;
    background-color: $BASE-BG-COLOR;
    overflow-y: auto;
  }

  &--right-sections {
    position: relative;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    background: $BASE_WHITE-COLOR;
  }
}

@include quill-styles();
