@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.demographic-info-item {
  &:hover {
    .custom-vertical-menu {
      display: flex;
      visibility: visible;
    }

    .demographic-info-item--key-section-actions {
      .hide-show-info-button {
        display: flex;
        visibility: visible;
      }
    }
  }

  &--key-section {
    width: 100%;
    display: inline-block;
    min-height: 2rem;
    @include flex-center-between;
    font-size: 0.75rem;
    .custom-vertical-menu {
      &--btn {
        min-width: 2rem;
        min-height: 2rem;
      }
    }

    &-actions {
      display: flex;
      gap: 0.2rem;
      .custom-vertical-menu {
        display: block;
        visibility: hidden;
        &-open {
          background: $BASE_LIGHT-GRAY-COLOR;
        }
        &:hover {
          @include svg-fill(#1b3380);
        }
      }
    }
    .hide-show-info-button {
      @include flex-center-center;
      visibility: hidden;
      width: 2rem;
      height: 2rem;
      @include flex-center-center;
      border-radius: 0.14rem;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
        @include svg-fill(#1b3380);
      }
    }
  }

  &--options-block {
    width: 100%;
    @include flex-center-between;

    input {
      padding: 0.5rem 0;

      &:disabled {
        -webkit-text-fill-color: $BASE_GRAY_COLOR;
      }
    }
  }

  &--input {
    @include flex-center-center;
    gap: 0.5rem;
    width: 100%;
    .hide-show-info-button {
      width: 1.875rem;
      height: 1.875rem;
      cursor: pointer;
      &:hover {
        background: $BASE_LIGHT-GRAY-COLOR;
        @include svg-fill(#1b3380);
      }
    }
  }
}

.hidden-demographic-info-item {
  .demographic-info-item--key-section {
    opacity: 0.6;
  }
}
