@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.boards-list {
  height: 22.875rem;

  &--content {
    height: 99%;
    //height: 22.875rem;
    max-height: 22.875rem;
    &-boards {
      max-height: 19.375rem;
      overflow-x: auto;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0.5rem;
        height: 0.5rem;
      }

      padding: 1rem;
      margin-bottom: 1rem;

      .selected-persona {
        border-left: 0.375rem solid $BASE_BLUE_COLOR;
      }
    }
    .go-back {
      margin-left: 1rem;
    }
  }
  &-loading-section {
    height: 22rem;
  }
}

.custom-modal-footer {
  justify-content: space-between;
  .create-new {
    text-transform: lowercase;
  }
}

.assign-modal-header {
  @include flex-center;

  .question-sign {
    margin-left: 0.5rem;
    @include base-round-btn(1rem, 1rem, $DARK_BLUE);
    font-size: 0.75rem;
    color: $BASE_WHITE-COLOR;
    font-weight: 500;
  }
}

.go-back {
  width: 10rem;
  margin: 0.625rem 0 1rem 0.25rem;
  @include flex-center-center;
  gap: 0.5rem;
  color: $BASE_GRAY_COLOR;
  &--icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover {
    cursor: pointer;
    color: $BASE_BLUE_COLOR;
    path {
      stroke: $BASE_BLUE_COLOR;
    }
  }
}
