@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.persona-left-menu {
  &--content {
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: $BASE_WHITE-COLOR;
  }

  &--avatar-frame {
    @include flex-center-center;
    width: 7.5rem;
    min-width: 7.5rem;
    height: 7.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
  }

  &--color-type-block {
    width: 100%;
    position: relative;
    font-size: $BASE_FONT-SIZE;
    display: flex;
    flex-direction: column;
    .wheel-color-picker {
      top: 3rem !important;
      left: -1.8rem !important;
    }
  }

  &--color-block,
  &--type-block {
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
    gap: 0.16rem;

    @include flex-center-center;
  }

  &--type-block {
    width: 100%;
    position: relative;
    margin-bottom: 0.78rem;

    .custom-type-input {
      top: 1.625rem;
      z-index: 1;
      position: absolute;
      width: 90%;
    }
  }

  &--block-2 {
    position: relative;
    margin-top: 2rem;
    background: $BASE_WHITE-COLOR;
    border-radius: 0.5rem;
    padding: 0.5rem;
    .delete-demographic-info-section {
      width: 2rem;
      height: 2rem;
      position: absolute;
      @include flex-center-center;
      right: 1rem;
      top: 1rem;
      &:hover {
        @include svg-fill($BASE_BLUE_COLOR);
      }
    }

    .add-demographic-field {
      margin-top: 0.76rem;
      width: 100%;
      @include flex-center-center;
    }
  }

  .add-default-demographic-fields {
    margin-top: 2rem;
    width: 100%;
  }

  .demographic-sections {
    margin-top: 0;
    background: none;
    padding: 0.5rem 0;
  }

  &--block-2-title {
    font-weight: 500;
  }

  &--demographic-info-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  &--demographic-info-popover {
    height: auto;
    max-height: 6.25rem;
    overflow: auto;
    border: 0.0625rem solid $BASE_BLUE_COLOR;
    background-color: $BASE-WHITE-COLOR;
  }

  &--demographic-info-popover-item {
    width: 6.25rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;
    color: $BASE_GRAY_COLOR;

    &:hover {
      background-color: #eeeeee;
    }
  }

  &--demographic-info-create-loading-block {
    position: relative;
    height: 2.125rem;
    margin: 1rem 0;
  }

  &--demographic-info-create-block,
  &--demographic-info-actions {
    @include flex-center-center;
    gap: 1.125rem;
  }

  &--demographic-info-create-block {
    height: 0;
    overflow: hidden;
    margin: 0.5rem 0;
    transition: 0.3s;
  }

  &--demographic-open-info-create-block {
    height: 2.125rem;
  }

  &--demographic-none-info-create-block {
    display: none;
  }
}
