@use '@assets/styles/variables' as *;
@use '@assets/styles/mixins' as *;

.version-history-drawer {
  width: 20.5rem;
  height: calc(100% - 2.5rem);

  &--body {
    height: 100%;
    overflow: auto;
  }
}
