@use "@assets/styles/variables" as *;
@use "@assets/styles/mixins" as *;

.no-permission {
  @include flex-center-center;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  color: $BASE_GRAY_COLOR;
  &--title {
    text-align: center;
  }
}
