@use "@assets/styles/variables" as *;
@use "@assets/styles/mixins" as *;

.workspace-card {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  max-width: 74.375rem;
  min-height: 5.5rem;
  padding: 0.875rem 2.9375rem 1rem 1.125rem;
  @include card-borders;

  &--info {
    min-height: 3.375rem;
    @include flex-column-between;

    &--title {
      font-size: 1.5rem;
      color: $BASE_BLUE_COLOR;
    }

    &--day {
      margin-top: 0.875rem;
      font-size: 0.75rem;
    }

    &--description {
      svg {
        min-width: 0.875rem;
        min-height: 0.875rem;
      }

      display: flex;
      gap: 0.625rem;
      font-size: 0.75rem;
      margin-top: 1.5rem;
    }
  }
}
