.workspaces-pagination-container {
  max-width: 73rem;
  display: flex;
  justify-content: flex-end;
}

.workspaces-container {
  padding-right: 0.625rem;
  padding-bottom: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
