@use '@/Assets/styles/variables' as *;
@use '@/Assets/styles/mixins' as *;

.board-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 0.0625rem solid $BASE-LIGHT-GRAY-COLOR-2;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.625rem 0.75rem 0.75rem;
  margin-bottom: 1rem;
  color: $BASE_GRAY_COLOR;
  border-left: 0.375rem solid $BASE-LIGHT-GRAY-COLOR-2;

  &:hover {
    border: 0.0625rem solid $BASE_BLUE_COLOR;
    border-left: 0.375rem solid $BASE_BLUE_COLOR;
  }

  &--left {
    width: 80%;
    @include flex-center-center;
    justify-content: flex-start;
    overflow: hidden;

    &-text-info {
      width: 100%;
      margin-left: 0.5rem;
      @include reduce-text(90%);

      &--title {
        color: $BASE_BLUE_COLOR;
        font-weight: 500;
        font-size: 1rem;
        @include reduce-text(100%);
      }
    }
  }
}
